h1 {
    padding: 60px;
    text-align: center;
    background: #68cae7;
    color: white;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-size: 20px;
    font-family: fantasy;
    padding: 20px;
    text-align: center;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: medium;
    background-color: whitesmoke;
}

button {
    border: none;
    color: rgb(0, 248, 227);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: black;
}